/* filepath: /Users/gadgetzone/Documents/IN-HOUSE PROJECT/TRCE/scam_webInfo/src/index.css */
@import "tailwindcss";
/* @tailwind components; */
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: #F8F8F8; 
    font-family: 'Syne', sans-serif; 
    font-weight: 500; 
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}